window {
    font-family: Maple Mono;
    font-size: 16pt;
    color:  rgb(205, 214, 244); /* text */
    background-color: rgba(24, 27, 32, 0.2);

} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 10px;
}

button:focus {
    box-shadow: none;
    background-size : 20%;
    border: 0px solid;
}

button:hover {
    background-size: 50%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: rgb(203, 166, 247);
    color: transparent;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
    background-image: image(url("icons/shutdown_white.png"));
}
#shutdown:hover {
  background-image: image(url("icons/shutdown_black.png"));
}

#logout {
    background-image: image(url("icons/logout_white.png"));

}
#logout:hover {
  background-image: image(url("icons/logout_black.png"));
}

#reboot {
    background-image: image(url("icons/reboot_white.png"));
}
#reboot:hover {
  background-image: image(url("icons/reboot_black.png"));
}

#lock {
    background-image: image(url("icons/lock_white.png"));
}
#lock:hover {
  background-image: image(url("icons/lock_black.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate_white.png"));
}
#hibernate:hover {
  background-image: image(url("icons/hibernate_black.png"));
}