* {
    border: none;
    border-radius: 10;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
}

#network {
    background: #bd93f9;
}

#disk {
    background: #f5a97f;
}

#temperature {
    background: #a6da95;
}

#pulseaudio {
    background: #FAE3B0;
}

#clock {
    background: #ABE9B3;
}

#memory {
    background: #DDB6F2;
}

#cpu {
    background: #96CDFB;
}

#network,
#bluetooth,
#tray,
#cpu,
#memory,
#clock,
#pulseaudio,
#temperature,
#disk {
/*    background: #1a1a1a; */
    color: /* #ffbb00*/ #000000;
    font-size: 15px;
    margin: 3px 8px;
    padding: 5px 10px;
    border-radius: 100px;
    transition: none;
/*    border: solid #ffaa00;
    border-style: solid;
    border-color: #ffaa00;
    border-width: 1px; */
}
