/* [[Add "@" before Usernames]] */
/* User Area */
[aria-label="User area"] [class^=nameTag_] [class^=hovered_]::before,
/* Switch Accounts */
[class^=submenu_] [class^=userMenuUsername] [class^=defaultColor_]::before,
[class^=accountCard_] [class^=userDetails_] [class^=username_]::before,
/* Profiles - Credits to Skye */
:where([class^=userPopoutInner_], [class^=fullSizeOuter_], [class^=userPanelInner_]) [class^=userTagUsername_]::before,
/* Mod View */
[class^=guildSidebar_] [class^=memberNameContainer_] [class="text-md/medium_dc00ef"]::before,
[class^=userProfileModalOuter_] [class^=memberNameContainer_] [class="text-md/medium_dc00ef"]::before,
/* Members List */
[class^=roundedRow_] [class="text-xs/normal_dc00ef"]::before,
/* Roles/Add Member */
[class^=addMemberRow_] [class*=rowLabelSubText_]::before,
/* Roles/Members */
[class^=memberRow_] [class*=userTag_]::before,
/* Emoji */
[class^=emojiRow_] [class^=colorStandard_]::before,
/* Stickers */
[class^=tiers_] [class^=user_] [class="text-xs/normal_dc00ef"]::before,
/* Soundboard */
[class^=soundTable_] [class^=uploader_] [class^=defaultColor_]::before,
/* Audit Log */
[class^=auditLog_] [class^=title_] [class^=defaultColor_]::before,
/* Ban List */
[class^=bannedUser_] [class^=username_]::before,
/* Friends list */
[class^=peopleListItem_] [class^=infoSpacing_]::before,
/* Settings/My Account */
[class^=accountProfileCard_] [class^=field_]:nth-last-child(3) [class^=usernameInnerRow_]::before {
  color: var(--text-muted);
  content: "@";
}

/* [[Automatically resizing GIF picker]] */
:root {
  --expression-picker-aspect-ratio: 1.125 / 1;
}

[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
  height: calc(100vh - 128px);
}

[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
  max-height: 100%;
  bottom: 0px;
  height: auto;
  aspect-ratio: var(--expression-picker-aspect-ratio);
}

/* [[Pinged Servers to Top]] */
[data-list-id="guildsnav"] > [class^="scroller_"] > [aria-label],
[id^="folder-items-"] {
  display: flex;
  flex-direction: column;
}

[data-list-id="guildsnav"]
  > [class^="scroller_"]
  > [aria-label]
  :is([class^="listItem_"], [class^="wrapper_"]):has([class^="numberBadge_"]) {
  order: -1;
}

/* Pretty Folder Icons */
.expandedFolderBackground_b1385f ~ .listItem__48528:nth-child(2) > div:before {
  content: attr(data-dnd-name);
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1px 1.5px;
  font-size: 10px;
  color: #ffffff;
  z-index: 1;
  pointer-events: none;
  width: 38px;
  max-height: 27px;
  text-align: center;
  margin-left: -0.7px;
  overflow: hidden;
  letter-spacing: -0.2px;
  line-height: 0.9;
}

.expandedFolderIconWrapper__324c1 svg {
  width: 48px;
  height: 48px;
}

.folderIconWrapper__11165,
.folder__17546,
.collapsed__98ad5 {
  background: none !important;
}

/* [[Move VC Hang Status To The Left]] */
[class*="iconGroup"]:has(
    [class*="hangStatusIcon"],
    [d*="M13 3a1"],
    [class*="gameIcon"]
  ) {
  display: flex;
  position: absolute;
  right: 101%;
}

/* [[Dim Muted Servers]] */
[aria-label="Mute"] [aria-hidden="true"],
[aria-label="Deafen"] [aria-hidden="true"] {
  opacity: 0.4;
}

/* [[Hide chatbox if one doesn't have send message perms]] */
[class*="channelTextAreaDisabled"] {
  display: none !important;
}

[class*="channelTextAreaDisabled"] {
  opacity: 0 !important;
  position: absolute !important;
  height: 0px !important;
  width: 0px !important;
  z-index: 0 !important;
}

/* [[make profiles round again]] */
[class*="userPopoutOuter_"] {
  border-radius: var(--radius-sm);
  overflow: hidden;
}

/* [[dashless channels]] */
@font-face {
  font-family: "Twemoji Mozilla";
  src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf")
    format("truetype");
  unicode-range: U+1F1E6-1F1FF;
}

@font-face {
  font-family: "dashless";
  size-adjust: 100%;
  src: url("https://vendicated.github.io/random-files/Dashless.woff2")
    format("woff2");
  unicode-range: U+002D;
}

[data-list-item-id^="channels___"]:not([role="button"]),
[class^="titleWrapper"] > h1,
[id^=":r"] > h1,
[class^="resultChannel"],
[class^="channelNameContainer_"],
[class^="searchAnswer_"],
.channelWithIcon,
[class^="emptyChannelIcon_"] + h3,
[class^="emptyChannelIcon_"] ~ [class*="description_"],
[class^="browser_"] [class*="channelText_"],
[class^="returnButton_"] [class^="text-"],
[class^="placeholder"][class*="slateTextArea"],
[class^="auditLog_"] [class^="overflowEllipsis_"] strong,
.vc-permviewer-perms-title,
[class^="headerChannelContainer_"] > div {
  font-family: "Twemoji Mozilla", "dashless", var(--font-primary);
}

/* [[make the emoji picker custom emoji]] */
[aria-label="Select emoji"]::before {
  content: "";
  background-image: url("https://cdn.discordapp.com/emojis/701335132363030608.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  position: absolute;
  /* Adjust the width or height for the emoji */
  width: 24px;
  height: 24px;
  /* end */
  display: block;
  visibility: visible;
}
/* hide original emoji */
[aria-label="Select emoji"] {
  visibility: hidden;
}

/* [[cool channel highlights]] */
/* changes to the channel list for better usability */

/* squish channel height/spacing */
[class="link_d8bfb3"] {
  padding-block: 3px;
}

/* shrink all channel icons */
[class="iconContainer_d8bfb3"] > svg[role="img"] {
  scale: 0.8;
}

/* squeeze channel list left */
.wrapper_d8bfb3:not(.typeThread_d8bfb3) {
  margin-left: 0 !important;
}

.wrapper_a08117 {
  padding-left: 8px !important;
}

/* fix threads "spine" */
.spineBorder_e1e976 {
  bottom: 20px !important;
  left: 16px;
}

.containerDefault_f6f816 > svg {
  top: 5px;
  left: 16px;
}

.wrapper_d8bfb3.typeThread_d8bfb3 {
  margin-left: 28px;
}

/* make unread channel's icons brighter (because the unread indicator is now hidden)*/
.modeUnreadImportant_d8bfb3 .icon_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .icon_d8bfb3,
.modeSelected_d8bfb3:hover .icon_d8bfb3 {
  color: var(--interactive-active);
}

/* dim all category labels */
[class="mainContent_a08117"] {
  opacity: 70%;
}

/* hide category dropdown arrows, instead dim label when collapsed */
[class="mainContent_a08117"] > [class="icon_a08117"] {
  display: none;
}

[class="mainContent_a08117"][aria-expanded="false"] {
  opacity: 50% !important;
}

:root {
  --highlight-select: linear-gradient(-45deg, #9366e23d 60%, #deaecf3d);
  --highlight-icon: #deaecf;
}

/* channel outlines and highlighted icons */
#app-mount
  .containerDefault_f6f816.selected_f6f816
  .wrapper_d8bfb3
  .link_d8bfb3 {
  background: var(--highlight-select);
  border-radius: 12px;
  margin-left: 5px;
}

.icon_d8bfb3 {
  width: 18px;
  height: 18px;
}

[aria-label="Channels"] [class^="content"],
[class^="popout-"] [class^="row-"] {
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
}

[aria-label="Channels"] [class^="content"]:hover,
[class^="popout-"] [class^="row-"]:hover {
  border-color: var(--highlight-icon) !important;
}

.modeUnreadImportant_d8bfb3 .icon_d8bfb3,
#app-mount
  .containerDefault_f6f816.selected_f6f816
  .wrapper_d8bfb3
  .icon_d8bfb3,
#app-mount .containerDefault_f6f816:hover .wrapper_d8bfb3 .icon_d8bfb3 {
  color: var(--highlight-icon) !important;
}

/* [[role pills]] */
.role_e4010c,
.role_f9575e {
  --transparency: 0.4;
  --roles-roundness: 5px;
  transform: translate(0);
  overflow: hidden;
  border: 0;
  border-radius: var(--roles-roundness);
}

.role_f9575e .roleRemoveIcon_f9575e {
  left: 11px;
}

.role_e4010c .roleRemoveIcon_e4010c {
  left: 14px;
}

.role_e4010c:has(.roleFlowerStar_e4010c) .roleRemoveIcon_e4010c {
  left: 15px;
}

.role_f9575e .roleRemoveButton_f9575e,
.role_e4010c .roleRemoveButton_e4010c {
  position: static;
}

.role_e4010c .roleCircle_a26d7b:after,
.role_e4010c .roleFlowerStar_e4010c:after,
.role_f9575e .roleCircle_a26d7b:after,
.role_f9575e .roleFlowerStar_f9575e:after {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: var(--roles-roundness);
  position: absolute;
  background: inherit;
  opacity: var(--transparency);
}

/* [[custom chat prompt]] */
.placeholder_a552a6.slateTextArea_e52116.fontSize16Padding_d0696b {
  visibility: hidden;
}

.placeholder_a552a6.slateTextArea_e52116.fontSize16Padding_d0696b::before {
  visibility: visible;
  content: "uwu";
}

/* [[make membercount nicer]] */
.vc-membercount-online-dot,
.vc-membercount-total-dot {
  display: none !important;
}

.vc-membercount-total::before {
  content: "/";
  visibility: visible;
  position: absolute;
  display: contents;
}

.vc-membercount-total::after {
  content: " online";
  visibility: visible;
  position: absolute;
  display: contents;
}

.membersGroup_cad095.container__43554 {
  padding-top: 20px;
}

/* [[yeet useless things]] */
img[class*="avatar"][src^="https://cdn.discordapp.com/avatar-decoration-presets/a_5e1210779d99ece1c0b4f438a5bc6e72.png"], /* yeet clown avatar decoration */
div[class*="listItem"]:has(div[aria-label="Explore Discoverable Servers"]),
/* Hide 'Explore Discoverable Servers' in server page */
.text_e40c16,
/* Remove loading quote */
[class^=threadSuggestionBar_],
/* Hide thread suggestion in reply */
div.themed_a0.item_a0.item_c2739c:nth-of-type(4),
/* No blocked section in friends list */
[class^=nowPlayingColumn_],
/* No "Active now" tab */
button[aria-label="Open GIF picker"],
/* Hide GIF picker button */
button[aria-label="Open sticker picker"],
/* Hide sticker picker button */
[class^=bar__]:has([class^=voiceChannelsIcon__]),
/* Hide "x in vc" scroll indicator */
[aria-label="Help"],
/* Removes "Support" question mark button */
.divider_d2b491.divider_ae36e5

/* Remove dividing line in profile */ {
  display: none !important;
}

/* Send a gift button (in profile & chat bar) */
button[aria-label="Send a gift"],
[class^=giftButtonContainer__],
/* Nitro tab */
[data-list-item-id*="___nitro"],
/* Store tab */
[data-list-item-id*="___shop"],
/* Store popup ads */
[id^=popout]:has([class^=buttonContainerVertical]),
/* Hide "Get Nitro" button in emoji info */
.ctaButton_e58351.grow_dd4f85.fullWidth_dd4f85.sizeSmall_dd4f85.colorGreen_dd4f85.lookFilled_dd4f85.button_dd4f85.shinyButton_d5e126,
/* Hide "Get nitro" popup when clicking on custom emojj reaction without nitro */
[class^=premiumPromo_],
/* Hide "Get nitro" ad for too long message */
.upsell_b82429.root_d6170c,
/* Server boost button */
#guild-header-popout>div>div:nth-child(1),
#guild-header-popout>div>div:nth-child(2),
/* Remove boost goal */
.containerWithMargin_c75f85.container_c75f85,
/* Store ad in profile settings */
.container_da1432,
/* "Try out nitro" ad in profile settings */
.tryItOutSection_eb2d2c.featureBorder_c6d722.premiumFeatureBorder_c6d722 {
  display: none !important;
}

/* [[better quickswitcher]] */
[class^="layer_"]:has([class^="quickswitcher_"]) {
  justify-content: start;
}

[class^="quickswitcher_"] {
  background: none;
  padding: 0;
}

[class^="quickswitcher_"] .scroller_f4e139 {
  margin: 0;
  border-radius: 0 0 8px 8px;
  scrollbar-width: none;
  padding: 8px !important;
}

[class^="quickswitcher_"] .input_f4e139 {
  height: 50px;
}

[class^="quickswitcher_"] .input_f4e139[value=""] {
  border-radius: 8px;
}

[class^="quickswitcher_"] .input_f4e139:not([value=""]) {
  border-radius: 8px 8px 0 0;
}

[class^="quickswitcher_"] .input_f4e139[value=""] + .scroller_f4e139,
[class^="quickswitcher_"] .protip_f4e139 {
  display: none;
}

.backdrop__1a911:has(+ .layer_c9e2da [class^="quickswitcher_"]) {
  opacity: 0;
}

/* [[tabs v2 icon]] */
svg:has(
    > [d="M19.73 4.87a18.2 18.2 0 0 0-4.6-1.44c-.21.4-.4.8-.58 1.21-1.69-.25-3.4-.25-5.1 0-.18-.41-.37-.82-.59-1.2-1.6.27-3.14.75-4.6 1.43A19.04 19.04 0 0 0 .96 17.7a18.43 18.43 0 0 0 5.63 2.87c.46-.62.86-1.28 1.2-1.98-.65-.25-1.29-.55-1.9-.92.17-.12.32-.24.47-.37 3.58 1.7 7.7 1.7 11.28 0l.46.37c-.6.36-1.25.67-1.9.92.35.7.75 1.35 1.2 1.98 2.03-.63 3.94-1.6 5.64-2.87.47-4.87-.78-9.09-3.3-12.83ZM8.3 15.12c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.89 2.27-2 2.27Zm7.4 0c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.88 2.27-2 2.27Z"]
  )
  path {
  d: path(
    "M7.516 16.7C7.8784 16.7 8.1694 16.3791 8.1838 16.0171 8.1906 15.8462 8.2 15.674 8.2 15.5 8.2 10.1984 11.7683 5.9 17.3338 5.9 19.3811 5.9 21.3254 6.6288 22.9281 7.6747 23.3211 7.9312 23.8106 7.6966 23.8014 7.2274 23.8005 7.1825 23.8 7.1398 23.8 7.1 23.8 1.8068 19.0527-2.5 13.219-2.5 7.3854-2.5 2.638 1.8068 2.638 7.1 2.638 8.59 3.0076 10.0228 3.7183 11.3276 3.9932 11.8323 3.9466 12.4664 3.5445 12.8769L1.7978 14.6604C1.0539 15.4198 1.592 16.7 2.6551 16.7H7.516ZM25.0161 18.9078C24.8039 18.5696 24.7806 18.1502 24.909 17.7722 25.1568 17.0422 25.2845 16.2741 25.2845 15.5 25.2845 11.5292 21.9897 8.3 17.9399 8.3 13.8903 8.3 10.5953 11.5292 10.5953 15.5 10.5953 19.4708 13.8903 22.7 17.9399 22.7H25.2258C26.1693 22.7 26.7437 21.6614 26.2424 20.8622L25.0161 18.9078Z"
  ) !important;
  transform: scale(0.8) translate(1px, 5px);
}

/* [[make toolbar icons collapsity]] */
[class="toolbar_e44302"]::before {
  content: "∙∙∙";
  /* Change this to anything you like [Default: ∙∙∙] */
  font-size: 110%;
  margin: 0 8px;
  color: var(--text-muted);
}

/* decrease width to hide everything but menu icon */
[class="toolbar_e44302"] {
  width: var(--bartender-width);
  /* Adjust this based on design requirements */
  /* If you pick a new icon, instead of "∙∙∙", you may need to adjust this value */
}

[class="toolbar_e44302"]:hover,
/* expand toobar on hover */
[class="toolbar_e44302"]:has(.open_a46bef, .selected_e44302:not([aria-label="Hide Member List"]))

/* keep the toolbar open if an item (e.g., search) is active */ {
  width: unset;
  /* Adjust the width to show the whole section if necessary [default: 21%] */
  /* If you pick a new marker, instead of "∙∙∙", you may need to adjust this value as well */
}

.searchBar_a46bef {
  height: 30px !important;
  width: 30px;
  padding: 3px 5px;
  border-radius: 8px;
  cursor: pointer;
}

.icon_a46bef.iconLayout_effbe2.small_effbe2 {
  cursor: pointer;
  scale: 1.2;
}

/* [[ revamped user area ]] */
[class^=panels] > [class^=container] /* User area redesign */ {
  height: unset !important; /* Height being dynamic is fine */
  align-items: unset !important; /* Don't need that */
  padding: 6px 8px !important; /* Let those boxes breathe */
  flex-direction: column-reverse !important; /* instead of going one next to the other, go stacked */
  gap: 2px !important; /* Again let them breathe */
}

[class^=avatarWrapper] /* Change the user box */ {
  margin-right: unset !important; /* Useless */
  margin-left: unset !important; /* Useless */
  padding-left: 4px !important; /* Make it slightly bigger for consistency with the right side */
}

[class^=container] > [class*=buttons] /* Change the quick actions */ {
  justify-content: space-evenly !important; /* Let them breathe */
}
