[Desktop Entry]
Categories=Utility;X-SuSE-DesktopUtility;
Comment=Dock for the masses
Exec=/nix/store/s8hrdgvcn853jdww53a4i7s5l9cav02m-latte-dock-unstable-2023-03-31/bin/latte-dock
GenericName=Dock
Icon=latte-dock
InitialPreference=1
Name=Latte Dock
StartupNotify=false
StartupWMClass=latte-dock
Terminal=false
Type=Application
X-DBUS-ServiceName=org.kde.lattedock
X-DBUS-StartupType=unique
X-KDE-PluginInfo-Author=Michail Vourlakos, Smith Ar
X-KDE-PluginInfo-Email=mvourlakos@gmail.com, audoban@openmailbox.org
X-KDE-PluginInfo-Version=0.10.77
X-KDE-PluginInfo-Website=https://userbase.kde.org/LatteDock
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,org_kde_kwin_keystate,zkde_screencast_unstable_v1
